:root {
  --main-color: #64a891;
  --second-color: hsl(14, 49%, 62%);
  --font-color: #f3e8d5;
  --font-color2: #5a5a63;
  --font-color3: #21130d;
  --background-color: #ededed;
  --background-color2: #afafaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: BurgerFi !important; */
  background: var(--background-color) !important;
}

img {
  width: 100%;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  list-style: none;
}

.btn.btn-primary:hover {
  color: white;
  background-color: #cd836d;
}

.btn.btn-primary {
  background-color: var(--second-color);
  border: none;
}

/* --------------------------Header------------------------- */

header {
  position: relative;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  height: calc(40vw * 0.7);
  background-color: var(--main-color);
}

header .navbar-toggler {
  border: none;
  font-size: xx-large;
}
header .nav-link {
  color: var(--font-color) !important;
}

header .logo {
  padding-top: 20px;
}

section {
  position: relative;
}

section.pattern-bg-right-bottom {
  background-image: url(../imgs/pattern.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}

section.pattern-bg-left-top {
  background-image: url(../imgs/pattern.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
}

/* --------------------------Hero------------------------- */
#big-hero {
  color: var(--font-color2);
}
#big-hero .bg-light {
  background-color: var(--background-color2) !important;
}

#big-hero .rounded-3 {
  border-radius: 15px;
}

/* --------------------------about us------------------------- */
.aboutus .aboutus-text h2 {
  color: #5a5a63;
}
.aboutus .aboutus-text p {
  color: #5a5a63;
  font-size: large;
}
/* --------------------------services------------------------- */

.card .card-body {
  background-color: var(--background-color);
}

.them-service {
  color: var(--font-color);
  background-color: var(--main-color);
}

/* Projects Section */

#projects {
}

/*   Contact form */
#contact-form {
  background-color: var(--main-color);
}
#contact-form .contact-form {
  background-color: white;
  padding-left: 11vw;
}

#contact-form .contact-form input,
#contact-form .contact-form textarea {
  color: var(--font-color2);
  border-right: none;
  border-top: none;
  border-left: none;
}

#contact-form .contact-form input:focus,
#contact-form .contact-form textarea::focus {
  color: var(--font-color3);
  border-bottom-color: var(--font-color3);
}

#contact-form .contact-img {
  z-index: 10;
}

#contact-form .contact-img img {
  width: 100%;
  height: auto;
  margin-right: -10vw;
}
.btn {
  color: var(--second-color);
}

.form1 {
  width: 100%;

  padding-left: 1px;
  margin: 1px 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0%;
  border-bottom: 2px solid #bbbb;
  outline: none;
}
.formmsg {
  margin-top: 1px;
  padding: auto;
}

.d-flex {
  align-items: center;
}

/* --------------------------end------------------------- */

.endlist ul {
  display: flex;
}

.endlistitems {
  padding: 0px 15px;
  color: var(--font-color);
}

/* --------------------------Footer------------------------- */

footer {
  background-color: var(--main-color);
}

footer a {
  color: var(--font-color);
}

footer .list-inline-item:not(:last-child) {
  margin-right: 2rem;
}

footer .page-end {
  background-color: var(--font-color2) !important;
  height: 50px;
  background-color: var(--font-color2);
}
